<?xml version="1.0" encoding="utf-8"?>
<!-- SEC-DEP-03: yalnız nuget.org mənbəyi və packageSourceMapping -->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
